@page "/accounts"

<PageTitle>Accounts</PageTitle>

<h1>Accounts</h1>

@if (Data != null)
{
    <p>Accounts data</p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Account id</th>
            <th>Owner</th>
            <th>Creation date</th>
            <th>Closing date</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var result in Data)
        {
            string url = "accounts/" + result.Id.ToString();
            <tr>
                <td>@result.Id</td>
                <td>@result.OwnerName</td>
                <td>@result.CreationDate</td>
                <td>@result.ClosingDate</td>
                <td>
                   <NavLink class="nav-link" href="@url">
                        <button class="btn btn-link">Show account</button>
                    </NavLink>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
